* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #61617a
}

body {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

button:hover {
  background-color: #b9c550;
  color: white;
}

a {
  text-decoration: none;
}

select {
  cursor: pointer;
}

textarea {
  resize: none;
}

table {
  border-collapse: collapse;
}

td, th {
  border: none;
  text-align: left;
  padding: 0.5em;
}

tr {
  border-bottom: 1px solid #ddd;
}

.page-container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-container .form-container {
  max-width: 80%;
  background-color: #e6f1fc;
  padding: 2em;
  border-radius: 1em;
  width: 50em;
}

.page-container .form-container h2 {
  margin-top: 0;
}