* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #61617a
}

body {
  margin: 0;
}

button {
  border: none;
}

textarea {
  resize: none;
}

table {
  border-collapse: collapse;
}

td, th {
  border: none;
  text-align: left;
  padding: 0.5em;
}

tr {
  border-bottom: 1px solid #ddd;
}

.page-container {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-container .form-container {
  background-color: #e6f1fc;
  padding: 2em;
  border-radius: 1em;
  width: 50em;
}